@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
:root{
    --darkcolor: #111827;
    --middark:#1F2937;
    --litedark: #353F4F;
    --hover:#4c586b;
    --fontcolor:#E9EBEE;
    --viewcolor:#4ee2bd;
    --inactive:#ffffff96;
    --font: 'Hind Siliguri', sans-serif;
}
*:focus {outline:none !important}
img{
user-select: none;
-moz-user-select: none;
-webkit-user-drag: none;
-webkit-user-select: none;
-ms-user-select: none;
user-drag: none; 

}

::-webkit-scrollbar {
    width: .5rem;
  }
  ::-webkit-scrollbar-track {
    background: var(--litedark);
  }
  body::-webkit-scrollbar-thumb {
    background: var(--viewcolor);
    height: 1rem;
    border-radius: 10px;
    height:  5px !important;

  }
ul{
    list-style: none;
}
h1,h2,h3,h4,h5,h6,p{
    padding: 0;
    margin: 0;
}
ul>li{
    list-style: none;
    padding: 0;
    margin: 0;
}
a{
    text-decoration: none;
    padding: 0;
    margin: 0;
}

img{
    height: fit-content;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    scroll-behavior: smooth;
    color: var(--fontcolor);
    background: var(--darkcolor) !important;
}
.roundbtn{
    color: var(--fontcolor);
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .4rem .4rem;
    border-radius: 1rem;
    background: var(--litedark);
    font-size: 1.2rem;
}
.roundbtn:hover{
    text-decoration: none;
    background: var(--hover);
    transition: all ease .4s;
}

.roundbtn:focus{
    text-decoration: none;
    background: var(--hover);
    transition: all ease .4s;
    color: var(--viewcolor) !important;
}
a:hover{
    text-decoration: none;
}
.mylink a{
    background: var(--litedark);
}
.mylink a:hover{
    text-decoration: none;
    background: var(--hover);
    transition: all ease .4s;
}


input {
    background: var(--litedark);
    border-color: var(--hover);
    color: var(--fontcolor);
    border: 2px solid #535967;
    outline: none;
    border-radius: .3rem;
    padding: .2rem .6rem;
}
input:focus{
border:2px solid var(--viewcolor) ;
outline-offset: 0 ;
outline: none ;
transition: all ease-in-out .4s ;
}


button{
    background: var(--litedark);
}

button:hover{
    text-decoration: none;
    background: var(--hover);
    transition: all ease .4s;
}

button:focus{
    text-decoration: none;
    background: var(--hover);
    transition: all ease .4s;
}



.pro_image img {
    height: 21rem;
    border-radius: .5rem;
    object-fit: contain;
    display: flex;
    align-items: center;
    justify-content: center;
}
.product{
    background: var(--middark);
    background: var(--middark);
    border: 1px solid var(--hover);
    padding: 1rem !important;
    border-radius: .5rem;
    height: 35rem;
}
.product:hover{
    background: var(--litedark);
}
.product h4{
    padding: .8rem 0rem;
    font-size: 1.3rem;
    color:var(--viewcolor);
}
.productbtn {
    margin: .5rem 0rem;
    padding: 0.5rem 1.8rem;
    font-size: 1.1rem;
    font-weight: 400;
}
.hover:hover{
    background: var(--hover);
}

.myinput{
    background: var(--litedark);
    color: var(--inactive) !important;
    border: 1px solid var(--inactive);
}
.myinput:focus{
    color: var(--fontcolor) !important;
    background: var(--middark) !important;
    outline: none !important;
    border: 1px solid var(--fontcolor);
}
.mycolor{
    color: var(--viewcolor) !important;
}

.rightside{
    position: fixed;
    z-index: 111111;
    top: 4rem;
    right: 1rem;
}

.errorlist{
    margin: 0 !important;
    padding: 0 !important;
    width: fit-content !important;
    color: var(--viewcolor) !important;
    background: var(--litedark) !important;
    padding: .5rem !important;
    border: 1px solid var(--viewcolor) !important;
    padding-top: .3rem !important;
    border-radius: .3rem !important;
}