{% load static  %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  

    <!-- BOOTSTRAP -->

    <!-- <link rel="icon" href="{% static 'img/logo.png' %}">
    <link rel="stylesheet" href="{%  static 'css/important_css.css'  %}">
    <link rel="stylesheet" href="{%  static 'css/style.css'  %}"> -->
    
    {% block extracss %}
      
    {% endblock extracss %}
      
    <title>
    {% block title %}
        
    {% endblock title %}
        </title>
</head>
<style>
  .imageview{
      border-radius: 30rem !important;
      height: 7rem;
      width: 7rem;
      padding: .15rem;
      border: 1px solid #b3b3b3;
  }
</style>
<body>


    <nav class="navbar navbar-expand-lg navbar-dark bg-success">
        <a class="navbar-brand" href="{% url 'index' %}  "><b>WEBSITE</b></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav">
            <li class="nav-item 
            
            {% block homeactive %}
                
            {% endblock homeactive %}
                
            ">
              <a class="nav-link" href="{% url 'index' %}">Home</a>
            </li>

            
            {% if user.is_authenticated %}
                <li class="nav-item 
                
                {% block profileactive %}
                    
                {% endblock profileactive %}
                    
                ">
                <a class="nav-link" href="#">Profile</a>
                </li>
                <li class="nav-item active">
                <a class="nav-link  text-danger" href="#"><b>Logout</b></a>
                </li>

            {% endif %}
                


          </ul>
        </div>
      </nav>

    
    {% block bodycontent %}
        
    {% endblock bodycontent %}


    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.1/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.min.js"></script>

    
    {% block extrajs %}
      
    {% endblock extrajs %}
      

{% block scripts %}
    
{% endblock scripts %}
    
    
</body>
</html>


