{% extends 'Shop/base.html' %}

{% block title %}
  Brands
{% endblock title %}
  

{% block extracss %}
  
{% endblock extracss %}

{% block cart %}
{% if cart != 0 %}
<span class="badge badge-primary">{{ cart }}</span>
{% endif %}
{% endblock cart %}
  



{% block main %}
    <br>
    <div class="container">
      
      {% for brand in brands %}
      <a href="{% url 'brandview' brand.id %}">
        <div class="card card-body bg-dark text-white btn m-4 p-3">
          <h1 class="text-center">{{ brand.brand }}</h1>
        </div>
      </a>
      {% endfor %}
        
    </div>
{% endblock main %}


{% block extrajs %}
  
{% endblock extrajs %}
  