{% extends 'Shop/base.html' %}
{% load static %}
{% block title %}
  Cart
{% endblock title %}
  

{% block extracss %}
  
{% endblock extracss %}


{% block cart %}
{% if cart != 0 %}
<span class="badge badge-primary">{{ cart }}</span>
{% endif %}
{% endblock cart %}



{% block main %}
<div class="container">
  {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %} 
  </ul>
  {% endif %}
  
    {% for cart in carts %}
    <hr>
    <h4><b>{{ cart.product.name }}</b></h4>
    <h4>Price: {{ cart.product.price }}</h4>
    <form action="{% url 'editqtycart' cart.id %}" method="post">
      {% csrf_token %}
      <input type="number" name="quantity" required value="{{ cart.quantity }}" class="form-control">
      <button class="btn btn-warning">Edit</button>
    </form>

    <form action="{% url 'deletethiscart' cart.id %}" method="post">
        {% csrf_token %}
        <button class="btn btn-danger">Remove</button>
    </form>
    <hr>    
    {% endfor %}
    
    {% if total != 0 %}
    <h1><b>Total: {{ total }}</b></h1>
    <a href="{% url 'checkout' %}" class="btn btn-primary">Checkout</a>

    {% else %}
    <div class="container">
      <div class="card card-body bg-dark text-white mt-3">
        <h4>Your cart is empty! Add some product</p><br>
      <a href="{% url 'index' %}" class="btn btn-primary">Add Some Products</a>

      </div>
    </div>
    
    {% endif %}
      

        
</div>
{% endblock main %}


{% block extrajs %}
  
{% endblock extrajs %}
  