{% extends 'Shop/base.html' %}
{% load static %}
{% block title %}
  Cart
{% endblock title %}
  

{% block extracss %}
  
{% endblock extracss %}

{% block cartactive %}
active                
{% endblock cartactive %}


{% block cart %}
{% if cart != 0 %}
<span class="badge badge-primary">{{ cart }}</span>
{% endif %}
{% endblock cart %}




{% block message %}
{% if messages %}
{% for message in messages %}
<h4>{{ message }}</h4>
{% endfor %} 
{% endif %}
{% endblock message %}
  





{% block main %}
<div class="container">
  <br><hr>
  <div class="card card-header mynav text-center"><h4>My Carts</h4></div>
  
    {% for cart in carts %}
    <hr>

    <div class="card mynav">
    <h4 class="mycolor text-center"><b>{{ cart.product.name }}</b></h4><hr>
    <h4 class="mt-2 mb-2">Price per Product :: {{ cart.product.price }} Taka</h4>
    <form action="{% url 'editqtycart' cart.id %}" method="post">
      {% csrf_token %}
      <input type="number" name="quantity" required value="{{ cart.quantity }}" class=" mt-2 mb-2 form-control myinput">
      <button class="btn btn-info p-2 pr-4 pl-4 mt-2">Update Cart</button>
    </form>

    <form action="{% url 'deletethiscart' cart.id %}" class="text-right" method="post">
        {% csrf_token %}
        <button class="btn btn-danger">Remove</button>
    </form>

  </div>

    <hr>    
    {% endfor %}
    
    {% if total != 0 %}

    <div class="card mynav">
      <h1 class="text-center"><b>Total: {{ total }}</b></h1><br>
    <a href="{% url 'checkout' %}" class="btn btn-primary mybtn"><h4>Checkout</h4></a>
    </div>

    {% else %}
    <div class="container">
      <br>
      <div class="card p-4 mt-3 mb-3 bg-dark mynav text-white">
        <h4>Your cart is empty! Add some product</p><br>
      <a href="{% url 'index' %}" class="btn btn-info">Add Some Products</a><br>

      </div>
    </div>
    
    {% endif %}
      

        <br><br><br>
</div>
{% endblock main %}


{% block extrajs %}
  
{% endblock extrajs %}
  