{% extends 'Shop/base.html' %}

{% block title %}
  Congratulations!
{% endblock title %}
  

{% block extracss %}
  
{% endblock extracss %}


{% block checkoutsactive %}
active                
{% endblock checkoutsactive %}


{% block cart %}
{% if cart != 0 %}
<span class="badge badge-primary">{{ cart }}</span>
{% endif %}
{% endblock cart %}

{% block message %}
{% if messages %}
{% for message in messages %}
<h4>{{ message }}</h4>
{% endfor %} 
{% endif %}
{% endblock message %}


{% block main %}
<br><br>
<div class="container">
    <div class="card bg-dark text-white mycolor mynav">
        <div class="p-4">
            <h4 class="mb-4">Congratulations! Your order is successful. Now You can Checkout More details from your profile</h1>
            <a href="{% url 'index' %}" class="btn btn-primary">Index</a>
            <a href="{% url 'profile' %}" class="btn btn-info">Profile</a>
        </div>
    
    </div>
</div>

{% endblock main %}


{% block extrajs %}
  
{% endblock extrajs %}
  