{% extends 'Shop/base.html' %}
{% load static %}
{% block title %}
  Home
{% endblock title %}
  

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock extracss %}
{% block checkoutsactive %}
active                
{% endblock checkoutsactive %}


{% block cart %}
{% if cart != 0 %}
<span class="badge badge-primary">{{ cart }}</span>
{% endif %}
{% endblock cart %}
{% block main %}


<div class="container">
  <hr><br>
  <div class="card card-header mynav text-center"><h4>My Orders</h4></div><hr>
    
  {% for checkout in checkouts %}

  <div class="card bg-dark text-white mt-3 mb-3 mynav">
    <div class="card-body">
      <h5 class="mycolor"><b>Order Details</b></h5>
      <p>Location: {{ checkout.location }}</p>
      <p>Phone: {{ checkout.phone }}</p>
      <p>Placed: {{ checkout.placed }}</p>
      <p>Shipped: {{ checkout.shipped }}</p>
      <p>Total: {{ checkout.total }}</p>
      <hr>
      <b class="mycolor">Orders</b>
      
      {% for order in orders %}
      {% if checkout == order.checkout %}
        <div class="orders mt-2">
        <p>Product :: {{order.product.name}}</p>
        <p>Company :: {{order.product.brand.brand}}</p>
        <p>Quantity :: {{ order.quantity }} Piece</p>
        <p>Price per Product :: {{ order.price }} Taka</p>
        </div>
      {% endif %}
        

      {% endfor %}

    </div>
  </div>
  {% endfor %}

</div>


{% endblock main %}


{% block extrajs %}
  
{% endblock extrajs %}
  