{% extends 'Shop/base.html' %}

{% block title %}
  Home
{% endblock title %}
  

{% block extracss %}
  
{% endblock extracss %}
  

{% block main %}


<div class="container">
  
    
  {% for checkout in checkouts %}
  
  <div class="card bg-dark text-white mt-3 mb-3">
    <div class="card-body">
      <p>Location: {{ checkout.location }}</p>
      <p>Phone: {{ checkout.phone }}</p>
      <p>Placed: {{ checkout.placed }}</p>
      <p>Shipped: {{ checkout.shipped }}</p>
      <hr>
      <b>Orders</b>
      
      {% for order in orders %}
      <!-- <p>{{ order.checkout }}</p> -->
      <!-- <p>{{checkout}}</p> -->
      
      {% if checkout == order.checkout %}
        <p>{{order.product.name}}</p>
        <p>{{ order.quantity }}</p>
        <p>{{ order.price }}</p>
      {% endif %}
        

      {% endfor %}

    </div>
  </div>
  {% endfor %}

</div>


{% endblock main %}


{% block extrajs %}
  
{% endblock extrajs %}
  