{% extends 'Shop/base.html' %}

{% block title %}
  ProductViewer
{% endblock title %}
  

{% block extracss %}
  
{% endblock extracss %}

{% block cart %}
{% if cart != 0 %}
<span class="badge badge-primary">{{ cart }}</span>
{% endif %}
{% endblock cart %}
  



{% block main %}
    


<div class="container">
    <br><br>
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %} 
    </ul>
    {% endif %}

    <div class="card bg-dark text-white">
        <div class="card-header">
            <h3>{{ product.name }}</h3>
        </div>
        <div class="card-body">
            <img src="{{ product.product_photo.url }}" >

            <h2>{{ product.code }}</h2>
            <h2>{{ product.stock }}</h2>
            <h2>{{ product.price }}</h2>
            <h2>{{ product.brand.brand }}</h2>
            <h2>{{ product.network }}</h2>
            <p class="w-25">{{ product.display_details|linebreaks }}</p>
            <p class="w-25">{{ product.camera_details|linebreaks }}</p>
            <p class="w-25">{{ product.memory_details|linebreaks }}</p>
            <p class="w-25">{{ product.battery_details|linebreaks }}</p>
        </div>

        <br>
        <form action="{% url 'addtocart' product.id %}" method="post">
            {% csrf_token %}
            <button class="roundbtn" >Add to Cart</button>
        </form>
    </div>
</div>



{% endblock main %}


{% block extrajs %}
  
{% endblock extrajs %}
  