{% extends 'Shop/base.html' %}
{% load static %}
{% block title %}
  Profile
{% endblock title %}
  

{% block extracss %}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock extracss %}

{% block profileactive %}
active                
{% endblock profileactive %}


{% block cart %}
{% if cart != 0 %}
<span class="badge badge-primary">{{ cart }}</span>
{% endif %}
{% endblock cart %}
  



{% block main %}
<hr><br>
<div class="container">
  <div class="mynav profile_tab">
    <h4 class="text-center p-2 m-2 mb-4 mycolor">My Profile</h4>
    <div class="row">
      <div class="col-md-4 col sm-12">
        <div class="profile_picture">
          
          {% if profile.image %}
          <img src="{{ profile.image.url }}" alt="">
          {% else %}
          <img src="{% static 'image/none.png' %}" alt="">
          {% endif %}
            
        </div>
      </div>
      <div class="col-md-8 col-sm-12">
        <div class="profile_details">
          
          {% if profile.name %}
            <h3 class="mt-3 mb-3 mycolor">{{ profile.name }}</h3><hr>
          {% endif %}

          {% if profile.location %}
            <h5>Address :: {{ profile.location }}</h5>
          {% endif %}

          {% if profile.phone %}
            <h5>Contact :: {{ profile.phone }}</h5>
          {% endif %}

          {% if user.email %}
            <h5>Email :: {{ user.email }}</h5>
          {% endif %}

          {% if user.username %}
            <h5>Username :: {{ user.username }}</h5>
          {% endif %}
            
        </div>
      </div>
    </div><hr><br>

    <a class="btn btn-info" href="{% url 'updateprofile' %}">Update Profile</a>
    <a class="btn btn-warning" href="{% url 'logoutuser' %}">Logout</a>

    <form action="{% url 'delete_my_account' %}" method="POST" class="d-inline">
      {% csrf_token %}
      <button class="btn btn-danger">Delete My Account</button>
  </form>

  </div>
</div>

{% endblock main %}


{% block extrajs %}
  
{% endblock extrajs %}
  