{% extends 'Shop/base.html' %}
{% load static %}
{% block title %}
  Search
{% endblock title %}
  

{% block extracss %}
  
{% endblock extracss %}
{% block cart %}
{% if cart != 0 %}
<span class="badge badge-primary">{{ cart }}</span>
{% endif %}
{% endblock cart %}
  

{% block main %}
    <h1>Search Result</h1>
    
      
    {% if searchCount > 0 %}
    <h1>Found {{ searchCount }} results</h1>
    <br>
    <div class="row">
    {% for product in results %}
      
    <div class="col-md-4">
        
      <div class="p-2">
        {% if product.product_photo %}
        <img src="{{ product.product_photo.url }}" alt="">
      {% else %}
      <img src="{% static 'image/icon.jpg' %}" alt="">

      {% endif %}
      <h4>Name: {{ product.name }}</h4>
      <form action="{% url 'addtocart' product.id %}" method="post">
      {% csrf_token %}
      <button class="roundbtn" >Add to Cart</button>
      </form>
      <span><a href="{% url 'productview' product.id %}" class="btn btn-primary ">View Product</a></span>

      </div>

    </div>


    {% endfor %}
    </div>
    
    {% else %}
    <h1>No Results Found</h1>
    {% endif %}
      
    
      
{% endblock main %}


{% block extrajs %}
  
{% endblock extrajs %}
  