{% extends 'Shop/base.html' %}
{% load static %}
{% block title %}
  Search
{% endblock title %}
  

{% block extracss %}
  
{% endblock extracss %}


{% block cart %}
{% if cart != 0 %}
<span class="badge badge-primary">{{ cart }}</span>
{% endif %}
{% endblock cart %}





{% block message %}
{% if messages %}
{% for message in messages %}
<h4>{{ message }}</h4>
{% endfor %} 
{% endif %}
{% endblock message %}
  




{% block main %}

  <div class="container">

    <h4>Search Results</h4>
    
      <hr>
    {% if searchCount > 0 %}
    <h5>Found {{ searchCount }} results</h5>
    <br>
    <div class="row">


    {% for product in results %}
  
    <div class="col-md-4 col-sm-12 mt-3">
      <div class="p-2 product text-center">


      <div class="pro_image">
      {% if product.product_photo %}
        <img src="{{ product.product_photo.url }}" alt="">
      {% else %}
      <img src="{% static 'image/icon.jpg' %}" alt="">
      {% endif %}
      </div>
      
      <h4>{{ product.name }}</h4>
      <form action="{% url 'addtocart' product.id %}" method="post">
      {% csrf_token %}
      <button class="text-center btn btn-info mybtn productbtn" >Add to Cart</button>
      </form>
      <span><a href="{% url 'productview' product.id %}" class="btn btn-info productbtn">View Product</a></span>
      </div>

    </div>



    {% endfor %}


    </div>
    
    {% else %}
    <h1>No Results Found</h1>
    {% endif %}
      
    <br><br>
  </div>
{% endblock main %}


{% block extrajs %}
  
{% endblock extrajs %}
  